{% extends 'base.html' %}

{% block content %}
    <h4>Race is - {{ race.name }}</h4>
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Horse Name</th>
                <th>WilliamHill</th>
                <th>PaddyPower</th>
                <th>SkyBet</th>
{#                <th>bet365</th>#}
            </tr>
        </thead>
        <tbody>
        {% for horse in horses %}
            <tr>
                <td>{{ horse.name }}</td>
                <td id="wh_{{ horse.id }}_{{ race.id }}">
                    {% if horse.williamhillbet__odd %}
                        {{ horse.williamhillbet__odd }}/{{ horse.williamhillbet__probability }}
                    {% endif %}
                </td>
                <td id="pp_{{ horse.id }}_{{ race.id }}">
                    {% if horse.paddypowerbet__odd %}
                        {{ horse.paddypowerbet__odd }}/{{ horse.paddypowerbet__probability }}
                    {% endif %}
                </td>
                <td id="sb_{{ horse.id }}_{{ race.id }}">
                    {% if horse.skybet__odd %}
                        {{ horse.skybet__odd }}/{{ horse.skybet__probability }}
                    {% endif %}
                </td>
{#                <td id="{{ horse.bet365bet__uniid }}">#}
{#                    {% if horse.bet365bet__odd %}#}
{#                        {{ horse.bet365bet__odd }}/{{ horse.bet365bet__probability }}#}
{#                    {% endif %}#}
{#                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script type="application/javascript">
        var socket = new WebSocket('ws://' + window.location.host + '/odds/');

        socket.onmessage = function message(event) {
            var data = JSON.parse(event.data);
            var odd_probability = ''+data.odd+'/'+data.probability+'';
            $(document.getElementById(data.uniid)).html(odd_probability);
        };

    </script>
{% endblock %}
